<ion-view view-title="News">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        I am a basic News Card which contains an item that has wrapping text.
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="/lib/Icons/SwireIcon.png">
        <h2>I'm a more fancy news story</h2>
        <p>Swire Properties news</p>
      </div>
      <div class="item item-image">
        <img src="/lib/splash/splash-bg.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-book"></i>
        Read this cool story
      </a>
    </div>

    <div class="card">
      <div class="item item-divider">
        I am a news card with a header...
      </div>
      <div class="item item-text-wrap">
        ... some text in the middle
      </div>
      <div class="item item-divider">
        ... and a footer
      </div>
    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="/lib/Icons/SwireIcon.png">
        <h2>I'm the mother of all news cards</h2>
        <p>July 05, 2015</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="/lib/splash/splash-bg2.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
