<ion-view view-title="Home">
  <div class="bar bar-subheader">
    <h2 class="title">FEATURED PROPERTIES</h2>
    <div class="up-down-arrow">
      <img src="lib/icons/up-down-arrows.png" class="up-down-arrow-icon">
    </div>
  </div>
    <ion-content>
      <div class="header-margin">
      </div>
      <ion-list>
        <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
          <img src="{{playlist.img}}" class="home-background">
          <div class="overlay-text">
            <div class="overlay-text-title">
              {{playlist.title}}
            </div>
            <div class="overlay-text-subtitle">
              {{playlist.location}}
            </div>
            <div class="home-icon">
              <a href="http://round.me/tour/7127/view">
                <img src="lib/icons/view-vr.png" class="vr">
              </a>
              <img src="lib/icons/save-property.png" class="heart">
              <div class="eyeball pull-right">
                <img src="lib/icons/view-property.png" class="view-property pull-right">
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>

</ion-view>
