<ion-view view-title="Home">
  <div class="bar bar-subheader">
    <h2 class="title">FEATURED PROPERTIES</h2>
  </div>
    <ion-content>
      <div class="header-margin">
      </div>
      <ion-list>
        <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
          <img src="{{playlist.img}}" class="home-background">
          <div class="overlay-text">
            <div class="overlay-text-title">
              {{playlist.title}}
            </div>
            <div class="overlay-text-subtitle">
              {{playlist.location}}
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>

</ion-view>
