<ion-view view-title="Search">
  <ion-content>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          LOCATION
        </div>
        <select>
          <option selected>Hong Kong</option>
          <option>China</option>
          <option>Thailand</option>
        </select>
      </label>
    </div>

    <h4 class="search-title">PROPERTY TYPE</h4>

    <div class="row">
      <div class="col border" ng-click="clicked = ! clicked" ng-init="clicked = true">
        <img src="lib/icons/offices.png" class="search-icon">
        <div class="under-icon-text">Offices</div>
        <div class="Display{{clicked}}">
          <div class="icon-green-tick"><img src="lib/icons/selected.png" class="green-tick"></div>
        </div>
      </div>
      <div class="col border"><img src="lib/icons/retail.png" class="search-icon">
        <div class="under-icon-text">Retail</div>
      </div>
      <div class="col border"><img src="lib/icons/residential.png" class="search-icon">
        <div class="under-icon-text">Residential</div>
      </div>
    </div>
    <div class="row">
      <div class="col border"><img src="lib/icons/hotels.png" class="search-icon">
        <div class="under-icon-text">Hotel</div>
      </div>
      <div class="col border"><img src="lib/icons/coworking.png" class="search-icon">
        <div class="under-icon-text">Co-working</div>
      </div>
      <div class="col border"><img src="lib/icons/showsuites.png" class="search-icon">
        <div class="under-icon-text">Showroom</div>
      </div>
    </div>
    <div class="row">
      <div class="col border"><img src="lib/icons/event-space.png" class="search-icon">
        <div class="under-icon-text">Event Space</div>
      </div>
      <div class="col border"><img src="lib/icons/land.png" class="search-icon">
        <div class="under-icon-text">Land</div>
      </div>
      <div class="col border"><img src="lib/icons/industrial.png" class="search-icon">
        <div class="under-icon-text">Industrial</div>
      </div>
    </div>

  </ion-content>
</ion-view>
