/* Empty. Add your own CSS if you like */

/*----- NAV -----*/
.bar-stable.bar.bar-header.disable-user-behavior {
  background: #fb1b1c;
  font-family: 'PT Sans', sans-serif;
}

.title.title-center.header-item{
  color: white;
  font-weight: bold;
}

.button.button-icon.button-clear.ion-navicon{
  color: white;
}


/*----- HOME -----*/
.title{
  font-family: 'PT Sans', sans-serif;
  color: #777777;

}

h2.title{
  text-align: left !important;
  font-size: 16px !important;
  margin-left: 16px !important;
}

.header-margin{
  padding-top: 43px;
}

.home-background{
  width: 120%;
  margin: -16px;
}

/*.item-content{
  padding-right: 0px !important;
}*/

.overlay-text{
  color: white;
  margin: -155px 0 105px 0;
  font-family: 'PT Sans', sans-serif;
}

.overlay-text-title{
  font-weight: bold;
}

.overlay-text-subtitle{
  font-size: 14px;
  margin-top: 3px;
}
