/*----- COLOURS -----
Swire red: #fb1b1c;
Dark gray text: #777777;
*/


/*---- GENERAL ----*/
h4, .title{
  font-family: 'PT Sans', sans-serif;
}

.title, .search-title{
  color: #777777;
}


/*----- NAV -----*/
.bar-stable.bar.bar-header.disable-user-behavior {
  background: #fb1b1c;
  font-family: 'PT Sans', sans-serif;
}

.title.title-center.header-item{
  color: white;
  font-weight: bold;
}

.button.button-icon.button-clear.ion-navicon{
  color: white;
}


/*----- MENU -----*/
h1.title{
  color: white !important;
}


/*----- HOME -----*/

h2.title{
  text-align: left !important;
  font-size: 16px !important;
  margin-left: 16px !important;
}

.header-margin{
  padding-top: 43px;
}

.home-background{
  width: 120%;
  margin: -16px;
}

.item-content{
  padding-right: 0px !important;
}

.overlay-text{
  color: white;
  margin: -185px 0 0px 0;
  font-family: 'PT Sans', sans-serif;
}

.overlay-text-title{
  font-weight: bold;
}

.overlay-text-subtitle{
  font-size: 14px;
  margin-top: 3px;
}

.home-icon{
  margin-top: 90px;
}

.vr, .heart, .view-property{
  width: 25px;
}

.heart{
  margin-left: 10px;
}

.view-property{
  margin: 0 0 4px 240px;
}

.up-down-arrow{
  text-align: right;
  margin: 8px 3px 0 0;
}

.up-down-arrow-icon{
  width: 15px;
}


/*----- SEARCH -----*/
.search-title{
  margin: 30px 0 0 16px;
  font-size: 17px;
}
